html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #1A0DAB !important;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  line-height: 1.9;
}

span {
  line-height: 1 !important;
}

h2, h3, h4, h5 {
  font-size: 24px !important;
  font-weight: 900 !important;
  padding-top: 8px;
  padding-bottom: 8px;
}